@tailwind base;
@tailwind components;
@tailwind utilities;


.blue-bg-color{
    background-color: #38b6ff;
}

.blue-text-color {
    color: #38b6ff;
    font-weight: 700;
}

.blue-text-color-simple {
    color: #38b6ff;
}

.a4 {
    height: 877px;
    width: 620px;
}

.small-text {
    font-size: 10px;
}

.xsmall-text {
    font-size: 10px;
}